.App {
display: flex;
height: 100vh;
justify-content: center;
align-items: center;

}
img{
width: 50%;
height: 50vh;
}

body{
background-color: #020202;}
button{
background-color: red;
border-color: red;
padding: 10px;
border-radius: 5px;
color: white;}